@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
/*font-family: 'Oswald', sans-serif;*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:black;
}
.btn-0{
    background-color:darkcyan;
    padding: 0.5rem;
    border-radius:3rem;

}
.nav-link .active{
    font-family: 'Oswald', sans-serif;
    font-size:1.5rem;
}
.logo{
    color:rgb(17, 67, 175);
}
.img{
    height:30rem;
    width:40rem;
}
.btn-1{
    background-color:mediumblue;
    font-weight:bold;
    padding:0.8rem;

}
.btn-2{
    color:mediumblue;
    
    padding:0.7rem;

}